@model IEnumerable<Dominio.Post>

@{
    ViewBag.Title = "Postagens";
}

<h2>Postagens</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCastrado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCastrado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioId)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PostID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.PostID }) |
            @Html.ActionLink("Delet", "Delete", new { id=item.PostID })
        </td>
    </tr>
}

</table>
